@import url('http://fonts.cdnfonts.com/css/comic-futura');

/* Css style for awesome books */
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 5px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000;
  padding: 3px;
  margin-bottom: 8px;
  margin-left: 18px;
  margin-right: 20px;
}

.date {
  text-align: right;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.page-links {
  list-style: none;
  display: flex;
  padding: 5px;
}

.nav-item {
  padding: 2px;
  border-left: 2px solid;
  padding-left: 10px;
  padding-right: 10px;
}

#link {
  border-left: none;
}

li a:hover {
  color: royalblue;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  font-family: 'Comic Futura', sans-serif;
}

.books-container {
  width: 95%;
  border: 3px solid black;
  margin-left: 2%;
  margin-right: 2%;
}

.line {
  display: block;
  width: 30%;
  margin-bottom: 0%;
  border-bottom: 3px solid black;
  margin-top: 5%;
  padding-bottom: 0;
}

#add-book-form {
  margin-top: 5%;
  width: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-book-form > h2 {
  margin-bottom: 1rem;
}

#add-book-form > input {
  width: 100%;
  border: 2px solid black;
  padding: 1rem;
}

#add-book-form > button {
  align-self: flex-end;
  padding: 0.8rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
}

#add-book-form > button:hover {
  box-shadow: 0 3px 5px royalblue;
}

.books-container :nth-child(even) {
  background-color: #aaa;
}

.removed {
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
}

.book-name {
  width: 500px;
  margin-left: 1rem;
}

.remove-book {
  margin-right: 2%;
  background-color: white;
  position: absolute;
  top: 9px;
  right: 2px;
}

.footer-section {
  border: 3px solid black;
  width: 95%;
  margin-top: 10%;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
}

.book-list-section {
  width: 100%;
  display: block;
}

.title {
  text-align: center;
}

.contact-section {
  display: none;
  margin-bottom: 10%;
}

.contact-info {
  margin-bottom: 10%;
  font-size: 20px;
}

.contact-title {
  margin-bottom: 10%;
}
